
footer.footer-area
  .container
    .row
      .col-12.col-sm-6.col-xl-3
        .footer-widget.mb-70
          a.foo-logo.d-block.mb-4(href='/')
            img(src='/img/core-img/logo2.png' alt='')
          p
            | Sirius website is scientific Web Page , and Sirius team are Brighter than Ever 
          h6.widget-title © Copyright Sirius 2019. All rights reserved

      .col-12.col-sm-6.col-xl-3
    
      .col-12.col-sm-6.col-xl-3
  
      .col-12.col-sm-6.col-xl-3
        .footer-widget.mb-70
          h6.widget-title Designed and Developed by:
          
          .single-blog-post.d-flex
            .post-thumbnail
              img(src='/img/users/Ali.jpg' alt='' id='aliimage')
            .post-content
              a.post-title(href='https://www.facebook.com/MRaliamjad' id='ddddddddd') Ali A. Koye
          h6.widget-title Find Us on Social Media:
     
          .footer-social-area
            a.facebook(target="_blank" href='https://www.facebook.com/MRaliamjad')
              i.fa.fa-facebook
            a.google-plus(href='#')
              i.fa.fa-google-plus
            a.instagram(target="_blank" href='https://www.instagram.com/ali_a_koye/')
              i.fa.fa-instagram
            a.twitter( target="_blank" href='https://twitter.com/ArtyomFasbender')
              i.fa.fa-twitter
            a.linkedin( target="_blank" href='https://www.linkedin.com/in/ali-a-0a23a8194/')
              i.fa.fa-linkedin
