doctype html
html
    head
        block head
              meta(charset='UTF-8')
              meta(name='description' content='')
              meta(http-equiv='X-UA-Compatible' content='IE=edge')
              meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
              // Title
              title brighter Sirius
              // Favicon
              link(rel='icon' href='/img/core-img/favicon.png')
              link(rel='stylesheet' href='/css/style.css')
              link(rel='stylesheet' href='/css/extraStyle.css')
    body
        //HEADER
        include _header2
        //Content
        block content
            h1 this is a place holder heading
        
        
        //FOOTER
        include _footer2


        // ##### All Javascript Script #####
        // jQuery-2.2.4 js
        script(src='/js/jquery/jquery-2.2.4.min.js')
        // Popper js
        script(src='/js/bootstrap/popper.min.js')
        // Bootstrap js
        script(src='/js/bootstrap/bootstrap.min.js')
        // All Plugins js
        script(src='/js/plugins/plugins.js')
        // Active js
        script(src='/js/active.js')
        script(src='/js/FirstJavaScr.js')
        script(src='/js/SecondJavaScr.js')
        script(src='/js/3rdFirstJavaScr.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js')
        script(src='/js/index.js')
        script(src='/js/login.js')
        script(src='/js/signup.js')
        script(src='/js/LogOut.js')
        script(src='/js/changepass.js')
        script(src='/js/changeinfo.js')
        script(src='/js/postComment.js')
        script(src='/js/editcom.js')
        script(src='/js/deletecom.js')
        script(src='/js/deleteacc.js')
        script(src='/js/emailsub.js')
        script(src="/socket.io/socket.io.js")
        script(src='/js/script.js')
        script(src='/js/resetpass.js')
        script(src='/js/changepassrstoken.js')

        
        
        
        
        
